<nav class="navbar navbar-top navbar-expand navbar-dark bg-primary border-bottom">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <!-- Navbar links -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">
            <i class="ni ni-tv-2 text-orange"></i>
            <span>中工纵览</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'dep_develop' %}">
            <i class="ni ni-settings text-red"></i>
            <span>研发部</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'dep_business' %}">
            <i class="ni ni-hat-3 text-orange"></i>
            <span>商务部</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'dep_tech' %}">
            <i class="ni ni-caps-small text-yellow"></i>
            <span>科技项目部</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'customer-list' %}">
            <i class="fas fa-users text-green"></i>
            <span>客户管理</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'daily' %}">
            <i class="ni ni-calendar-grid-58 text-default"></i>
            <span>日报</span>
          </a>
        </li>
      </ul>


      <ul class="navbar-nav align-items-center  ml-auto ml-md-0 ">
        <li class="nav-item dropdown">
          <a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <div class="media align-items-center">
              <span class="avatar avatar-sm rounded-circle">
                <img alt="Image placeholder" src="/static/assets/img/theme/team-1.jpg">
              </span>
              <div class="media-body  ml-2  d-none d-lg-block">
                <span class="mb-0 text-sm  font-weight-bold">
                  {{ request.user.username }}
                </span>
              </div>
            </div>
          </a>
          <div class="dropdown-menu  dropdown-menu-right ">
            <div class="dropdown-header noti-title">
              <h6 class="text-overflow m-0">欢迎!</h6>
            </div>
            <a href="{% url 'profile' %}" class="dropdown-item">
              <i class="ni ni-single-02"></i>
              <span>我的中工</span>
            </a>
            <div class="dropdown-divider"></div>
            <a href="{% url 'logout' %}" class="dropdown-item">
              <i class="ni ni-user-run text-red"></i>
              <span>登出</span>
            </a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>