{% extends 'layouts/base-fullscreen.html' %}

{% block title %} 修改密码 {% endblock title %}

{% block content %}

    <!-- 页面内容 -->
    <div class="container mt--8 pb-5">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-7">
          <div class="card bg-secondary shadow border-0">
            <div class="card-header bg-transparent pb-5">
              <div class="text-muted text-center mt-2 mb-3">
                修改密码
              </div>
            </div>
            <div class="card-body px-lg-5 py-lg-5">
              {% if messages %}
              <div class="alert">
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                {% endfor %}
              </div>
              {% endif %}
              <form method="POST">
                {% csrf_token %}
                <div class="form-group mb-3">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-single-02"></i></span>
                    </div>
                    {{ form.username }}
                  </div>
                </div>
                <div class="form-group mb-3">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-key-25"></i></span>
                    </div>
                    {{ form.verification_code }}
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                    </div>
                    {{ form.new_password }}
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                    </div>
                    {{ form.confirm_password }}
                  </div>
                </div>
                <div class="text-center">
                  <button type="submit" class="btn btn-primary my-4">修改密码</button>
                </div>
              </form>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-6">
              <a href="{% url 'login' %}" class="text-light"><small>返回登录</small></a>
            </div>
            <div class="col-6 text-right">
              <a href="tel:+8613151052286" class="text-light"><small>联系仲工</small></a>
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock content %}

<!-- 特定的JS -->
{% block javascripts %}{% endblock javascripts %}
