{% extends 'layouts/base.html' %}

{% block title %} Profile {% endblock title %}

{% block content %}

<style>
    .display-2 {
      font-size: 2rem; /* Adjust the size as needed */
      white-space: nowrap; /* Prevents the text from wrapping to a new line */
    }
</style>

<div class="header pb-6 d-flex align-items-center"
     style="min-height: 200px; background-image: url(/static/assets/img/theme/profile-cover.jpg); background-size: cover; background-position: center top;">
    <!-- Mask -->
    <span class="mask bg-gradient-default opacity-8"></span>
</div>
<!-- Page content -->
<div class="container-fluid mt--6">
    <div class="row justify-content-center"> <!-- Center the row -->
        <div class="col-xl-12 order-xl-2"> <!-- This column will center the card -->
            <div class="card card-profile">
                <div class="row justify-content-center">
                    <div class="col-lg-3 order-lg-2">
                        <div class="card-profile-image">
                            <a href="#">
                                <img src="/static/assets/img/theme/team-1.jpg" class="rounded-circle">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
                    <div class="d-flex justify-content-between">
                        <a href="#" class="btn btn-sm btn-info  mr-4">提交绩点</a>
                        <a href="#" class="btn btn-sm btn-default float-right">反馈问题</a>
                    </div>
                </div>
                <div class="card-body pt-0">
                    <div class="row">
                        <div class="col">
                            <div class="card-profile-stats d-flex justify-content-center">
                                <div>
                                    <span class="heading">{{ request.user.userprofile.gpa}}</span>
                                    <span class="description">本月绩点</span>
                                </div>
                                <div>
                                    <span class="heading">280</span>
                                    <span class="description">本月工时</span>
                                </div>
                                <div>
                                    <span class="heading">13</span>
                                    <span class="description">本月日报</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <h5 class="h3">
                            {{ request.user.username }} - {{ request.user.userprofile.department.name }}
                        </h5>
                        <div class="h5 font-weight-300">
                            {{ request.user.email }}
                        </div>
                    </div>
                    <!-- Incomplete Projects -->
                    {% if request.user.is_superuser %}
                    <div class="mt-4">
                        <h4 class="mb-4">待审批项目</h4>
                        <table class="table align-items-center table-flush">
                            <thead class="thead-light">
                            <tr>
                                <th scope="col">项目名称</th>
                                <th scope="col">描述</th>
                                <th scope="col">开始日期</th>
                                <th scope="col">结束日期</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for project in incomplete_projects %}
                            <tr>
                                <td>{{ project.name }}</td>
                                <td>{{ project.description|linebreaksbr }}</td>
                                <td>{{ project.start_date }}</td>
                                <td>{{ project.end_date }}</td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="4" class="text-center">没有符合条件的项目。</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% endif %}
                    <!-- My Projects -->
                    <div class="mt-4">
                        <h4 class="mb-4">我的项目</h4>
                        <table class="table align-items-center table-flush">
                            <thead class="thead-light">
                            <tr>
                                <th scope="col">项目名称</th>
                                <th scope="col">描述</th>
                                <th scope="col">开始日期</th>
                                <th scope="col">结束日期</th>
                                <th scope="col">状态</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for project in my_projects %}
                            <tr>
                                <td>{{ project.name }}</td>
                                <td>{{ project.description|linebreaksbr }}</td>
                                <td>{{ project.start_date }}</td>
                                <td>{{ project.end_date }}</td>
                                <td>{{ project.get_status_display }}</td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="5" class="text-center">没有我的项目。</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}{% endblock javascripts %}